.new-password-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .password-form {
    /* Add form-level styling here */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .password-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .password-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .submit-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .delete-button-shelter{
    background-color: rgb(216, 81, 81);
    color: aliceblue;
    padding: .4rem 1rem;
    font-size: .7rem;
    border-radius: .2rem;
    margin-top: 1rem;
  }
  .admin-text{
    font-size: 1.5rem;
    font-weight: 500;
  }

  .user-comment{
      background-color: aliceblue;
      padding: .5rem 1rem;
      line-height: 1.2rem;
      border-radius: .3rem;
  }